.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.account
.anyconnect
.bash_history
.cache
.cisco
.cpan
.cups
.rnd
.sh_history
.ssh
.viminfo
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public
bin
perl5
shellDefaults
tmp
.Xauthority
.cvsrc
.git
.lein
.puppet
.sh_history
.vi_history
cvs
projects
.toc
*.swp
.gitconfig
.gem
.bash_sessions
